 div{
    border: 1px solid blue;
}

.navbar-brand.navbar-center{
    position: absolute;
    left:25%;
}

.navbar-nav.navbar-center{
    position: absolute;
    left: 60%;
}

#selfie{
    width:200px;
    height:200px;
} 
